<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to the text analyzer</h1>
    <h3>Enter your text : </h3>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 1506px; height: 160px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations
        <input type="checkbox" name="fullcaps">Capitalize
        <button type="submit">Analyze text</button>  
        <br>
    </form>
    
</body>
</html>